*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 24px;
}

body {
    width: 100%;
    margin: auto;
    max-width: 1024px;
    background-color: #F3F3F3;
}

.header {
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo {
    display: flex;
    align-items: center;
}

.logo h3 {
    font-size: 24px;
}
.logo .span1{
    color: #39B24A;
    font-size: 24px;
}

.logo .span2{
    color: #FC200C;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    list-style: none;
}

/* Estilos del Main*/
main {
    display: flex;
    padding: 35px 20px;
}
.oferta {
    position: relative;
}
.oferta h3{
    font-size: 24px;
    color: #FC200C;
    position: absolute;
    top: 20px;
    left: 20px;
}
.oferta h3 span {
    color: #ffffff;
}

.information {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;

}
.information h3 {
    color: #FC200C;
    font-weight: 700;
}

.information .container-list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.list h4 {
    padding: 10px;
}

/*Estilos del footer*/
footer {
    background-color: #222222;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    bottom: 0;
}

footer .nav ul {
    display: flex;
    flex-direction: column;
}