@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1024px;
    margin: auto;
}

header p {
    background-color: #1CD1B0;
    padding: 17px 10px;
    font-weight: 800;
}
header h1 {
    background-color: #00669F;
    padding: 30px;
    font-size: 40px;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 2em;
    padding: 150px 30px;
}

.card {
    width: 300px;
    height: 560px;
    background-color: #f3f3f3;
}

.top-card {
    position: relative;
}

.bxs-heart {
    color: red;
    font-size: 30px;
    position: absolute;
    left: 20px;
    top: 20px
}
.information {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    position: relative;
}

.information img {
    border-radius: 50%;
    position: absolute;
    top: -60px;
}

.information h2 {
    margin-top: 80px;
    text-transform: uppercase;
}

.information p {
    padding: 20px;
}

.information button {
    width: 130px;
    height: 50px;
    background-color: #00669F;
    border: none;
    color: white;
}

footer {
    background-color: #00669F;
    padding: 1em;
    font-size: 16px;
    color: #fff9f9;
}