*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.top {
    background-color: black;
    color: white;
}

.header {
    background-color: #F0A83E;
}
.header .logo {
    display: flex;
}
.logo img {
    height: 16px;
}

header nav ul li a {
    color: white;
}

.slide {
    height: 410px;
    text-align: center;
    background-image: url(../image/bowl-and-pet-daities-on-green-background\ 1.png);
    background-size: cover;
    background-position: center;
}

.slide a{
    background-color: #F0A83E;
    color: white;
}